@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrainsmono.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrainsmono-italics.ttf');
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster';
  src: url('/fonts/lobster.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('/fonts/mulish.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
