@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbars-hidden {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }

    @media (min-width: 1024px) {
      scrollbar-width: auto;
    }
  }
}
