@tailwind utilities;

@layer utilities {
  .scrollbars-hidden {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }

    @media (min-width: 1024px) {
      scrollbar-width: auto;
    }
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(to right, #fef08a, #fef08a);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.25s ease-in-out;

    &:hover {
      background-size: 100% 3px;
      background-position: 0 100%;
    }
  }
}
